In [2]:
import numpy as np
import pandas as pd 
import matplotlib as mlt
import seaborn as sns
import quandl
%matplotlib inline

In [4]:
df = quandl.get("BP/OIL_PROD_USA", authtoken="MmX95as1Fjx4L-nBFsUA")

In [5]:
df.head()

                 Value
Date
1965-12-31  427.694442
1966-12-31  454.538861
1967-12-31  484.221630
1968-12-31  502.880332
1969-12-31  511.351724

In [6]:
df

                 Value
Date
1965-12-31  427.694442
1966-12-31  454.538861
1967-12-31  484.221630
1968-12-31  502.880332
1969-12-31  511.351724
1970-12-31  533.489849
1971-12-31  525.887850
1972-12-31  527.887889
1973-12-31  514.652287
1974-12-31  491.406303
1975-12-31  469.770402
1976-12-31  457.979834
1977-12-31  462.803777
1978-12-31  484.205659
1979-12-31  476.991329
1980-12-31  480.193395
1981-12-31  478.796700
1982-12-31  480.723249
1983-12-31  482.962649
1984-12-31  496.136582
1985-12-31  498.705135
1986-12-31  482.329482
1987-12-31  467.260289
1988-12-31  459.061962
1989-12-31  429.033090
1990-12-31  416.617251
1991-12-31  422.896708
1992-12-31  413.031866
1993-12-31  397.006495
1994-12-31  387.499363
1995-12-31  383.553755
1996-12-31  382.057953
1997-12-31  379.950064
1998-12-31  368.129541
1999-12-31  352.625965
2000-12-31  347.570299
2001-12-31  344.532690
2002-12-31  341.952096
2003-12-31  332.547725
2004-12-31  325.371909
2005-12-31  308.970745
2006-12-31  304.558674
2007-12-31  305.170056
2008-12-31  302.325709
2009-12-31  322.482277
2010-12-31  332.817407
2011-12-31  344.972152
2012-12-31  393.683372
2013-12-31  448.030743
2014-12-31  522.814141
2015-12-31  567.249695